<div>
<%= javascript_include_tag "application" %>
<%= form_for :intervention, url: url_for(controller: 'interventions', action: 'create'), :html =>{id: "interventionSubmit", :class => "text-center"} do |form| %>

  <div class="field text-center">
    <%= form.label :customerid, "Customer" %>
    <%= form.select :customerid, Customer.all.collect {|p| [p.CompanyName, p.id]},  {prompt: "Select Customer"}%>
  </div>

  <div class="field text-center">
    <%= form.label :buildingid, "Building ID" %>
    <%= form.select :buildingid, Building.all.collect {|p| [p.id, p.id]} %>
  </div>

  <div class="field text-center">
    <%= form.label :batteryid, "Battery ID" %>
    <%= form.select :batteryid, Battery.all.collect {|p| [p.id, p.id]} %>
  </div>

  <div class="field text-center">
    <%= form.label :columnid, "Column ID" %>
    <%= form.select :columnid, Column.all.collect {|p| [p.id, p.id]} %>
  </div>

  <div class="field text-center">
    <%= form.label :elevatorid, "Elevator ID" %>
    <%= form.select :elevatorid, Elevator.all.collect {|p| [p.id, p.id]} %>
  </div>

  <div class="field text-center">
    <%= form.label :employeeid, "Employee" %>
    <%= form.select :employeeid, Employee.all.collect {|p| [p.id, p.id]},  {prompt: "None"} %>
  </div>

  <div class="field text-center">
    <%= form.label :report %>
    <%= form.text_area :report %>
  </div>
  
  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>
</div>

